*.iml
.gradle/
/local.properties
/.idea/
/build/
/app/build/
/captures/
.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
/.build-tools/
/.gradle-build/
/python/build/
/python/dist/
/python/src/*.egg-info/
